.box {
  color: white;
}

mat-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin: auto;
  place-items: center;
  vertical-align: middle;
  margin-top: 5%;

}

mat-list-item {
  background-color: rgba(0,0,0,.5);
  border: 2px solid;
  margin-bottom: 1%;
  width: 35%;
  border-radius: 5px;
}

mat-list-item:hover{
  border: none;
  background-color: black;
}

