
mat-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin: auto;
  place-items: center;
  vertical-align: middle;
  margin-top: 5%;

}

mat-list-item {
  background-color: #f6d6ad;// rgba(0,0,0,.5);
  color: black;
  border: 2px solid;
  margin-bottom: 1%;
  width: 35%;
  border-radius: 5px;
}

mat-list-item:hover{
  color: white;
  border: none;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

