.box {
  background-color: transparent;
}

mat-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin: auto;
  place-items: center;
  vertical-align: middle;
  margin-top: 5%;

}

mat-list-item {
  margin-bottom: 1%;
  border: 2px solid black;
  width: 65%;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 84%, rgba(148,187,233,1) 100%);
}

