mat-button {
  margin-left: 5%;
}

mat-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  // margin-left: 5%;
  // width: 15%;
  // background-color: bisque;
  height: 100%;
  align-items: center;
  // box-shadow: 10px 10px 5px rgba(121, 119, 119, 0.693);
}

nav {
  background: #ccf6c8;
  border-bottom: solid;
  border-color: darkblue;
  height: 7.5%;
}
