<nav>
  <mat-button-wrapper>
    <mat-button routerLink="/home">Home</mat-button>
    <mat-button routerLink="/grid">Documentation</mat-button>
    <mat-button routerLink="/contacts">Contacts</mat-button>
    <!-- Place this tag where you want the button to render. -->
    <div id="space"></div>
    <div id="gh-wrapper">
      <a class="github-button" href="https://github.com/AmirAlahmedy" data-size="large" data-show-count="true" aria-label="Follow @AmirAlahmedy on GitHub">Follow @AmirAlahmedy</a>
      <a href="https://twitter.com/AmirAlahmedy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @AmirAlahmedy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </mat-button-wrapper>
</nav>
