<nav>
  <div class="btn-wrapper">
    <mat-button routerLink="/" class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color"> Home</mat-button>

    <mat-button routerLink="/grid"class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">Documentation</mat-button>

    <mat-button routerLink="/contacts" class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">Contacts</mat-button>

    <mat-button routerLink="/poetry" class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">Poetry</mat-button>
    
    <!-- Place this tag where you want the button to render. -->
    <div id="space"></div>

      <div id="gh-wrapper" class="ext-btns">
        <a class="github-button" href="https://github.com/AmirAlahmedy" data-size="large" data-show-count="true" aria-label="Follow @AmirAlahmedy on GitHub">Follow @AmirAlahmedy</a>
      </div>
      <div id="twtr-wrapper" class="ext-btns">
        <a href="https://twitter.com/AmirAlahmedy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @AmirAlahmedy</a>
      </div>

  </div>
</nav>
<header></header>
