.example-form {
  padding-left: 3%;
}

button {
  margin-left: 1%;
  background-color: #ccf6c8;
  border: 1px solid;
  border-radius: 20px;
}

#fact {
  background-color: #f9c0c0;
  width: 50%;
  margin-left: 2%;
  margin-bottom: 2%;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  form {
    margin-top: 4%;
  }
}

input {
  color: wheat;
}

