<!-- <app-sidenav></app-sidenav> -->
<section class="poem-list">
    <article class="poem">
        <header class="poem-header"> 
            <h2>Amir Salah Alahmedy</h2>
            <p>29th Oct 1998</p>
        </header>
        <div class="poem-author">
            <a class="poem-avatar" href="#">
                <img src="../../assets/images/amir.png"/>
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
                <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
        </div>
    </article>
    <article class="poem">
        <header class="poem-header">
            <h2>Work Experience</h2>
            <p>July-Sept 2019</p>
        </header>
        <div class="poem-body"></div>
    </article>
    <article class="poem">
        <header class="poem-header">
            <h2>Education</h2>
            <p>2016-2021</p>
        </header>
        <div class="poem-body"></div>
    </article>
</section>
<app-listing></app-listing>
<app-numbers></app-numbers>
