$accent:  #ccf6c8 !default;
$secondary: #fafcc2 !default;
$tertiary: #f6d6ad !default;
$fourth: #f9c0c0 !default;

mat-expansion-panel-header {
  background-color: $fourth;
}

section {
  width: 80%;
  position: absolute;
  margin-left: 10%;
}
